Dockerfile
.dockerignore
target
data
doc
*.md
**/node_modules
**/dist
**/target
**/.pnpm-store
**/.bun
**/.changeset
**/.env
**/.git
**/.idea
**/.vscode
**/.yarn
**/.docker
**/.devcontainer
**/.github
